---
layout: default
title: Your New Blog
---

{% include list.html period="week" %}


<hr />
<p>Arafat
{% assign myname = 'M' %}
{{myname}}
howdy
{{ page.date }}
Hello {{ site.time | date: "%Y %h" }}
{% assign d = site.time | date: "%Y-%M-%d" %}
<br />{{d}}
</p>
<ul>
  <!-- I brokes it.
      Can't dynamically load the data file for 'today'
  --!>
  {% for post in site.data.d reversed %}
  <li>
  <em>{{ post.type }}</em> - {{ post.content }}
  <br />
  {{ post.poster }}
  </li>
  {% endfor %}
</ul>
<hr />
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
