---
layout: default
title: Mexina's blog
---

{% assign d = site.time %}
{% assign y = d - 1 %}
{% include list.html period=d %}


<hr />
<h3>Know more about Me</h3>
<img src="Blue&Black.jpg">

<p>Hello there! My name is <strong><em>Mexina</em></strong> but you can call me Meck as most people do, A student of University of Dar es Salaam pursuing Bachelor of Science in Computer Science. This blog is written by myself talking about me in different perspectives.
</p><br>

<p>Through this blog you will get to know me better and i hope you will be satisified with what you will discover........ hope you will stay awhile. </p>

<br />- {{d}}
<br />- {{y}}
<br />- {{'now'|date: "%A"}}
</p>
<hr />
{{ site.data.[site.time] }}
<ul>
  {% for post in site.data.[d] %}
    <li>
      <em>{{ post.type }}</em> - {{ post.content }}
      <br />{{ post.poster }}
    </li>
  {% endfor %}
</ul>
<hr />
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
