---
layout: default
title: Mexina's blog
---

{% assign d = site.time %}
{% assign y = d - 1 %}
{% include list.html period=d %}


<hr />
<p>Arafat
<br />- {{d}}
<br />- {{y}}
<br />- {{'now'|date: "%A"}}
</p>
<hr />
{{ site.data.[site.time] }}
<ul>
  {% for post in site.data.[d] %}
    <li>
      <em>{{ post.type }}</em> - {{ post.content }}
      <br />{{ post.poster }}
    </li>
  {% endfor %}
</ul>
<hr />
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
